# Disable systemd-loop@.service trigger for optical / CD-ROM devices on archiso
SUBSYSTEM=="block", KERNEL=="sr[0-9]*", ENV{ID_PART_GPT_AUTO_ROOT_DISK_NEEDS_LOOP}="0"
SUBSYSTEM=="block", ENV{ID_CDROM}=="1", ENV{ID_PART_GPT_AUTO_ROOT_DISK_NEEDS_LOOP}="0"
